<div id='posts_index_links'>
	<%=link_to 'My Posts', user_path(current_user)%><br>
	<%=link_to 'Log Out',destroy_user_session_path, method: :delete%>
</div>
<div id='upload'>
	<b><%=link_to 'Upload New Spot',new_post_path%></b><br>
</div>

<div id='post_index_posts'>
	<%@posts.reverse_each do |post|%>
<%=link_to post_path(post) do %>
<%=image_tag post.image.url, size: '100x100'%>
<%end%>
<%end%>
<br>
</div>


